{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'gms/partials/_css.html' %}
    {% include 'gms/partials/_js.html' %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}" >
      <title>GMS {% block title %} {% endblock %}</title>
</head>
<body>
    <!-- NavBar-->
    {% include 'gms/partials/_navbar.html' %}
    {% block content %} {% endblock %}


  </body>
</html>